:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  font-family: "Nunito";
  padding-bottom: 5rem;
}

@font-face {
  font-family: "Nunito";
  src: url("https://fonts.googleapis.com/css?family=Nunito");
}

#puzzleCycle {
  /*border: solid #ffffff 7px;
    background:white;
    border-radius:10px;
    padding:2rem;*/
  color: black;
}

#bottom {
  background: #f2f5ff;
  padding: 2rem;
  border-radius: 10px;
}

div {
  max-width: 900px;
  margin: auto;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.1em;
}

ul {
  list-style-position: inside;
  padding: 0;
  columns: 1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
}

li {
  text-align: left;
}

img {
  max-width: 100%;
  max-width: height 100%;
  height: auto;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
  margin-top:0px;
}

body::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #5680e9;
}

main {
  margin-left: 19rem;
  /* relative to font size on root element, 5rem = 5*16=80 */
  padding: 1rem;
}

.navbar {
  width: 5rem;
  height: 100vh;
  /* relative to height of viewboard/window (100 = 100%)*/
  position: fixed;
  background-color: var(--bg-primary);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: #b6b6b6;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.8);
  transition: "600ms";
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: #141418;
  color: #ececec;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #46b4eb;
}

.fa-secondary {
  color: #46b4eb;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.2ch;
  width: 100%;
}

.logo-text {
  display: inline;
  position: absolute;
}

/* Small screens */

@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }
  .logo {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
  }
  .nav-link {
    justify-content: center;
  }
  main {
    margin: 0;
  }
}

/* Large screens */

@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 18rem;
    height: 100vh;
  }
  /*.navbar:hover {
        width: 18rem;
        transition: var(--transition-speed);
    }*/
  .navbar .link-text {
    display: inline;
  }
  .navbar .logo svg {
    margin-left: 14.9rem;
  }
  .navbar .logo-text {
    left: 0px;
  }
}

/*#date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
  }*/

br2 {
  display: block;
  content: "";
  margin-top: 5px;
}

canvas {
  width: 100%;
  height: auto;
  background: #111;
}
